<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Base for templates</title>
    {% block head %}
<h1>Hi! Welcome to my little flask website. This website is going to be all about me, so if that doesn't interest you then this website will not be for you.</h1>
<h1>To naviagte the page just type in the url "/then whatever page you want to see".</h1>
<h1>For example if you want to go to the About Me page type "/AboutMe" in the url.</h1>
<h1>I hope you enjoy!</h1>
    {% endblock %}
</head>
<body>
    {% block body %}
    <p>About Me</p>
    <p>Contact</p>
    <p>My Personality</p>
    {% endblock %}
</body>
</html>