<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AboutMe.css')}}">
    <title>Base for templates</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}
    <ol>
        <p>About Me</p>
        <li>I am 19</li>
        <li>I like baseball</li>
    </ol>
    {% endblock %}
</body>
</html>