head{
    background-color: purple;
    opacity: 0.3;
}

body{
    background-color: purple;
    opacity: 0.3;
}

h1{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.MV{
    width: 225px;
    height: 130px;
    position: absolute;
}