h1{
    margin: 10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    margin: 15;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

head{
    background-color: red;
    opacity: 0.3;
}

body{
    margin: 5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: red;
    opacity: 0.3;
}